/* SLDS overrides */

.slds-global-header {
    background-color: #f3f2f2;
}

.slds-global-header_container {
    position: relative;
}

.slds-nav-vertical__action {
    padding-left: .8rem;
}

.slds-border__none {
    border: none !important;
}

.slds-tabs_default__content, .slds-tabs--default__content {
    padding: 0;
}

.slds-notify-container, .slds-notify_container {
    width: 50%;
    transform: translate(50%);
}

.slds-dropdown_length-5, .slds-dropdown--length-5 {
    max-height: 8.5rem;
}

/* Background images overrides */

.slds-brand-band.dsr-brand-band_lightning-blue:before {
    background-image: url("../images/banner-brand-default.png"), linear-gradient(to top, rgba(175, 197, 222, 0) 0, #1B5F9E) !important;
}

.slds-welcome-mat__info {
    background-image: url("../images/bg-info@2x.png");
}

/* Adjust 'Welcome Mat' container for high scale dimensions */

.slds-welcome-mat_info-only .slds-welcome-mat__content {
    height: 31rem;
}