/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Container styles */

.height-fill {
    height: 100%;
}

.width-fill {
    width: 100%;
}

/* Custom Card styles */

.custom-card {
}

.custom-card__header {
    max-height: 10%;
}

.custom-card__content {
    border-top: 1px solid rgb(221, 219, 218);
}

.custom-card__content {
    height: 90%;
}

.custom-card__footer {
}

/* DnD */

.dragging-item {
    opacity: 0;
    background-color: #00aaff;
}

.slds-drop-zone__container:active:after {
    border: 1px solid #1589ee;
}

/* Utility classes */

div:empty {
    margin: 0;
    padding: 0;
}

.hoverable:hover {
    cursor: pointer;
}