/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Container styles */

.height-fill {
    height: 100%;
}

.width-fill {
    width: 100%;
}

/* Custom Card styles */

.custom-card {
}

.custom-card__header {
    height: 10%;
}

.custom-card__content, .custom-card__footer {
    border-top: 1px solid rgb(221, 219, 218);
}

.custom-card__content {
    height: 82%;
}

.custom-card__footer {
    display: inherit;
    height: 8%;
}

@media only screen and (min-width: 40em) and (max-width: 100em) {
    .custom-card__header {
        height: 12%;
    }

    .custom-card__footer {
        height: 10%;
    }

    .custom-card__content {
        height: 78%;
    }
}

/* DnD */

.dragging-item {
    opacity: 0;
    background-color: #00aaff;
}

.slds-drop-zone__container:active:after {
    border: 1px solid #1589ee;
}

/* Utility classes */

.hoverable:hover {
    cursor: pointer;
}